<h1>StaticPages#contact</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<h1>Contact info for the shopping app</h1>
<nav>
  <ul>
    <li>Your orders</li>
    <li>Return or replace items</li>
    <li>Manage Payment</li>
    <li>Change Name, Email or password</li>
  </ul>
</nav>