<p>Welcome! The date and time is <%= Time.now %></p>
<h1>Welcome to Bike Berlin</h1>
<h2>World Class Quality Bikes At Bargain prices</h2>
<%= image_tag("racebike.jpg", class: "img-responsive my-image", size:"600x600") %>