/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #f06400;
}
h1 {
	text-decoration:none;
	color:#f06400;
	margin-left: 20px;
	display:block;
	font-family: Arial,sans-serif;
	font-size:1.5em;
	}
h4 {
    text-decoration:none;
    color:#f06400;
    display:block;
    font-family: Arial,sans-serif;
    font-size:1.5em;
    }
.btn_search {
	color:#f06400;
	font-weight: normal;
	font-style: italic;
	width:70px;
	}
p {
    margin-left: 20px;
}
.rated, .lead
{
    margin-left: 20px;
}
.help {
    display:none;
    font-size:90%;
}
input:focus + .help,
input:invalid + .help {
    display:inline-block;
}
input:required {
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
.commentrow {
    margin: auto;
    width: 50%;
    padding: 10px;
}
.col-md-4
{
    margin: auto;
    width: 50%;
    padding: 10px;
}