// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: #f06400;
}
h1 {
	text-decoration:none;
	color:#f06400;
	display:block;
	font-family: Arial,sans-serif;
	font-size:1.5em;
	}
h4 {
    text-decoration:none;
    color:#f06400;
    display:block;
    font-family: Arial,sans-serif;
    font-size:1.5em;
    }
.btn_search {
color:#f06400;
font-weight: normal;
font-style: italic;
width:70px;
}